# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# .env and secrets
.env
.env.*
*.env
*.env.*
**/.env
**/.env.*
gh.env
!.env.example
!.env.appStore.example
!apps/web/test/.env.test.example

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage
/test-results/
**/playwright/videos
**/playwright/screenshots
**/playwright/artifacts
**/playwright/results
**/playwright/reports/*

# next.js
.next/
out/
build

# misc
.DS_Store
*.pem
*.key
*.cert

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# Webstorm
.idea

### VisualStudioCode template
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
service-account.json
